h2{
    font-family: 'Times New Roman', Times, serif;
}

a, a:visited
{
    text-decoration:none;
    color:inherit;
}

img
{
    width: 100%;
}

#newsContainner
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap:30px;   
    grid-auto-rows: max-content;
    grid-auto-flow: row dense;
}

.header
{
    padding: 1px;
    text-align: center;
    background-color: blue;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
}

.lineClamp
{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

